#rnd{
  padding: 0 !important;
  border: none;
  background-color: transparent;
}

#bkg{
  border-radius: 60px;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

input{
  border:none;
  background-color: transparent;
  background-color: #e9ecef;
  border-radius: 60px !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

input:focus{
  background-color: #e9ecef;
  outline: none !important;
}

.fa-user-circle-o{
  color: gray;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.fade-in {
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  th {
    margin: 0;
    border: 0;
    text-align: left;
    font-size: 13px;
    width: 500px;
    max-width: 100%;
  }
  .pointer{
    cursor: pointer;
  }